<app-carousel-promotion></app-carousel-promotion>
<app-our-services (servicesLoaded)="onServicesLoaded($event)"></app-our-services>
<section class="info">
  <div class="container">
    <div class="info-content">
      <div class="info-content-img"><img src="./assets/images/bg-info.png" alt="image-info" /></div>
      <div class="info-content-desc">
        <div class="info-content-desc-title">Кто мы и чем мы занимаемся?</div>
        <div class="info-content-desc-text">
          АйтиШторм — это ваш помощник №1 при решении таких вопросов, как продвижение в сети,
          разработка сайтов для бизнеса и личного бренда, сторисмейкинг, копирайтинг, маркетинг,
          разработка визуальной концепции и создание инфопродуктов. Компания была основана в 2019
          году и за всё это время смогла выйти в ТОП-10 агенств, предлагающих услуги продвижения в
          сети.
        </div>
        <div class="info-content-desc-advantages">
          <div class="advantages-title">Наши преимущества</div>
          <div class="advantages-items">
            <div class="advantages-item">
              <div class="advantages-item-number">
                <img src="./assets/images/Number-1.png" alt="Namber-1" />
              </div>
              <div class="advantages-item-text">
                Мастерски вовлекаем аудиториюв процесс. Мы увеличиваем процент вовлечённости за
                короткий промежуток времени.
              </div>
            </div>
            <div class="advantages-item">
              <div class="advantages-item-number">
                <img src="./assets/images/Number-2.png" alt="Namber-2" />
              </div>
              <div class="advantages-item-text">
                Разрабатываем бомбическую визуальную концепцию. Наши специалисты знают как создать
                уникальный образ вашего проекта.
              </div>
            </div>
            <div class="advantages-item">
              <div class="advantages-item-number">
                <img src="./assets/images/Number-3.png" alt="Namber-3" />
              </div>
              <div class="advantages-item-text">
                Создаём мощные воронки с помощью текстов. Наши копирайтеры создают не только вкусные
                текста, но и классные воронки.
              </div>
            </div>
            <div class="advantages-item">
              <div class="advantages-item-number">
                <img src="./assets/images/Number-4.png" alt="Namber-4" />
              </div>
              <div class="advantages-item-text">
                Помогаем продавать больше. Мы не только помогаем разработать стратегию по продажам,
                но также корректируем её под нужды заказчика.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
