<section class="services">
  <div class="container">
    <div class="service-title">Услуги, которые мы предлагаем</div>
    <div class="service-items">
      @for (item of services; track $index) {
        <div class="service-item">
          <div
            class="service-item-img"
            [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"
          >
          </div>
          <div class="service-item-title">{{ item.name }}</div>
          <div class="service-item-text">{{ item.text }}</div>
          <div class="service-item-action">
            <div class="price">От {{ item.price }}</div>
            <div class="btn">
              <button>Подробнее</button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
